
*.docx
Week 2/02. Project-GuessANumber.docx
Week 2/02.Project-RockPaperScissors.docx
Week 1/00. Language Comparison.pptx
Week 1/00. JS-Fundamentals-Course-Introduction.pptx
Week 1/00. SoftUni and Partners.pptx
Week 1/01. JS-Fundamentals-Basic-Syntax-Conditional-Statements-and-Loops.pptx
Week 2/02. Project-GuessANumber.docx
Week 2/JS-Fundamentals-Data-Types-and-Variables.pptx
Week 2/JS-Fundamentals-Data-Types-and-Variables.zip
Week 3/02. HTTP-Basics.pptx
Week 3/JS-Fundamentals-Arrays.pptx
Week 4/04. JS-Fundamentals-Functions.pptx
Week 4/03. HTML-and-CSS-Basics.pptx
Week 4/03. HTML-and-CSS-Basics.zip
Week 5/04. Software-Development-Concepts-Part-1.pptx
Week 5/05. JS-Fundamentals-Arrays-Advanced.pptx
Week 8 Associative Arrays/WindowsFormsApp-example.zip
*.pptx
*.zip
