
*.docx
Week 2/02. Project-GuessANumber.docx
Week 2/02.Project-RockPaperScissors.docx
Week 1/00. Language Comparison.pptx
Week 1/00. JS-Fundamentals-Course-Introduction.pptx
Week 1/00. SoftUni and Partners.pptx
Week 1/01. JS-Fundamentals-Basic-Syntax-Conditional-Statements-and-Loops.pptx
Week 2/02. Project-GuessANumber.docx
Week 2/JS-Fundamentals-Data-Types-and-Variables.pptx
Week 2/JS-Fundamentals-Data-Types-and-Variables.zip
